/* Custom styles */
body.light-theme {
    --bg-color:  #ffffff;
    --text-color: #000000;
    --btn-bg-color: #1f201f;
    --btn-text-color: #fff;
    --btn-outline-color: #6c757d;
    --scroll-item-bg-color: #37393b10;
}

body.dark-theme {
    --bg-color:#090c12;;
    --text-color: #ffffff;
    --btn-bg-color: #1e2127;
    --btn-text-color: #fff;
    --btn-outline-color: #6c757d;
    --scroll-item-bg-color: #14171e;;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--bg-color);
}
.nav-item{
    padding: 8px 6px;
}
.navbar .nav-link {
    color: var(--text-color);
    font-weight: 500;
}
.navbar .nav-link:hover{
    background-color: #9a989868;
}
.Toggle{
    border: none;
    background: none;
    font-size: 30px;
    outline: none;
}

.input-group-text{
    background-color:white;
    border-left:0px solid white;
}
.scroll-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 5px;
    max-width: 100%;
}

.scroll-list {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    flex: 1;
    background-color: var(--scroll-item-bg-color);
}

.scroll-list a{
    text-decoration: none;
}
/* .scroll-list div:focus{
    background-image: linear-gradient(to bottom right, rgb(255, 128, 43), rgb(165, 88, 10));
    color: white;
} */
.scroll-item {
    padding: 10px 30px;
    color: var(--text-color);
    text-decoration: none;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}
.scroll-item:hover{
    background-color: #9a989868;
}
.sidebar div:focus{
    background-image: linear-gradient(to bottom right, rgb(255, 128, 43), rgb(165, 88, 10));
    color: white;
}
.scroll-list::-webkit-scrollbar{
    display: none;
}
.scroll-btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border: none;
    padding: 10px 5px;
    cursor: pointer;
    outline: none;
}

/* IMG SLIDES */

.content-container {
    display: flex;
}

.sidebar::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .sidebar::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
    background: #b4b2b1; 
  }
  
  /* Handle on hover */
  .sidebar::-webkit-scrollbar-thumb:hover {
    background: #555555; 
  }
.sidebar {
    width: 500px;
    height: calc(90vh - 56px); /* Adjust based on navbar height */
    overflow-y: scroll;
    background-color: var(--scroll-item-bg-color);
    padding: 5px;
    border-right: 1px solid #ddd;
}

.sidebar-item {
    padding: 8px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 500;
}
.section-title{
    font-size: 18px;
    font-weight: 600;
    color: #f08c0a;
}

.sidebar-item:hover {
    background-color: #9a989868;
}
.sidebar-item a:focus{
    background-image: linear-gradient(to bottom right, rgb(255, 128, 43), rgb(165, 88, 10));
    color: white;
}
.carousel-container {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
    height: calc(90vh - 56px); /* Adjust based on navbar height */
}
.carousel-container::-webkit-scrollbar{
    display: none;
}

.carousel-item img {
    width: 100%; /* Ensure images fit the slide */
    height: auto;
}

.carousel-description {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
}
.des-styles table, th, td {
    border: 1px solid rgb(52, 52, 52);
    border-collapse: collapse;
    color: var(--text-color);
    background-color: var(--scroll-item-bg-color);
  }
  td{
    text-align: left;
  }
  th, td{
      padding: 6px;
  }
  th{
    background-image: linear-gradient(to bottom right, rgb(255, 128, 43), rgb(165, 88, 10));
  }
  .des-styles{
    margin-top: 20px;
  }
  .des-styles p{
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: justify;
  }
  .des-styles h2{
    color:#f08c0a;
    text-align: left;
  }
  .des-styles p{
    text-align: left;
  }
.modal-content {
    padding: 20px;
}

.modal-body img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#notFoundMessage {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
/* Default Sidebar styles */
.sidebar {
    width: 250px;
    /* other styles */
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 1000;
    width: 250px;
    max-height: 100vh;
    overflow-y: auto;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.mobile-nav{
    display: flex;
    align-items: center;
    justify-content:center;
}
.floats{
    display: flex;
    justify-content: center;
}
.mobile-btn{
    display: none;
}
.navbar-toggler{
    padding: 5px 5px;
    border: 1px solid black;
}

.ads{
    background-color: var(--bg-color);
    padding: 10px 60px;
    border-left: 2px solid rgba(105, 105, 105, 0.247);
}

/* popups */
.modal-content{
    background-color: var(--bg-color);
    color: var(--text-color);
}
/* .carousel-control-next, .carousel-control-prev{
    
}
.d-block{
   
} */
/* Media Query for Mobile Devices */
#whatsapp{
    display: none;
}
@media (max-width: 984px) {
    .service-card{
        margin-top: 20px;
    }
    #sidebar {
        display: none;
        width: 100%;
    }
    
    #whatsapp{
        display: none;
    }
    .sidebar{
        height: calc(100vh - 100%); /* Adjust based on navbar height */
        
    }
    .section-title{
        font-size: 17px;
        font-weight: 600;
        color: #f08c0a;
        list-style: none;
    }
    #dropdownMenuButton {
        display: block;
    }
    .sidebar-item {
        padding: 8px 8px;
        margin-bottom: 5px;
        cursor: pointer;
        font-weight: 500;
    }
    #dropdownMenu {
        display: block;
    }
    .dropdown-menu {
        top: 119px;
        background-color: var(--bg-color);
        border: none;
        border-right: 2px solid rgb(255, 112, 2);
        height: calc(100vh - 56px); /* Adjust based on navbar height */
    }
    .carousel-container {
        flex: 1;
        padding: 10px;
        overflow-y: scroll;
        height: calc(100vh - 56px); /* Adjust based on navbar height */
    }
    #dropdownMenuButton{
        margin-top: 10px;
        margin-left: 5px;
        background-color: #1e2127;
        border: 1px solid #272b31;
        font-weight: 600;
    }
    .dropdown-item,.navbar-toggler{
        color: var(--text-color);
    }
    .navbar-toggler{
        border: 1px solid;
    }
    .close-button{
        color: var(--text-color);
    }
    .scroll-container {
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: 0px;
        max-width: 100%;
    }
    .mobile-btn{
        display: block;
        background-color: brown;
        color: white;
        width: fit-content;
        padding: 5px 5px;
        border: 1px solid black;
        border-radius: 2px;
 
    }
    .form-control,.input-group-text{
        display: none;
    }
   .ads{
    display: none;
   }
}
